/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body{
  background: lemonchiffon;
}

.wrapper{
  width: 33%;
  margin: 0 auto;
}

div.one, div.two, div.three{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  left: 0;
  
  @include transition-property(all);
  @include transition-duration(.3s);
}

.active-one div.one, .active-two div.two, .active-three div.three{
  @include transition-property(all);
  @include transition-duration(.3s);
  width: 130%;
  left: -15%;
}


.one{
  background: coral;
}

.two{
  background: tomato;
}

.three{
  background: crimson;
}

button{
  border: none;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  text-transform: uppercase;
  margin: 0 0 0 0;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 33.333333333%;

  &:focus{
    outline: 0;
  }
}

section{
  clear: both;
}